* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: var(--body-padding);
  color: var(--body-text-colour);
  font-family: var(--body-family);
  line-height: 1.6;
}
