/* These are the default viewport changes on which UI changes.
 * But feel free to use other queries to fit your content.
 */
@custom-media --medium-viewport (width >= 40em);
@custom-media --large-viewport (width >= 60em);

/* Some handy selectors to minimise writing.
 * Don't add :--list ul, ol; that is longer and thus defeats the purpose.
 */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, [role="button"];
@custom-selector :--current-nav a:focus, a:hover, [aria-current="page"];
@custom-selector :--block-text p, blockquote, ul, ol, pre;

/* Declaration of all variables used throughout
 * Have to be reviewed every now and then.
 */
:root {
  --header-text-colour: hsl(0, 0%, 17%);

  --nav-active-colour: hsl(224, 66%, 36%);
  --nav-active-background: hsla(0, 100%, 100%, 0.3);
  --nav-text-colour: var(--header-text-colour);
  --nav-font-family: Tahoma, "Helvetica Neue", Helvetica, sans-serif;

  --body-padding: 1em;
  --body-max-width: 50em;
  --body-text-colour: hsl(0, 0%, 17%);
  --body-family: "PT Serif", Palatino, Athelas, Georgia, serif;

  --sans-serif: "Lucida Grande", sans-serif;
  --heading-family: Tahoma, var(--sans-serif);
  --line-height: 1.6;

  --anchor-colour: hsl(224, 66%, 56%);
  --button-colour: hsl(224, 66%, 56%);
  --focus-colour: hsl(210, 100%, 87%);

  --ornament-size: 0.5em;
  --ornament-space: 1em;
  --ornament-space-titled: 0.8em;
  --ornament-border-colour: hsl(0, 0%, 30%);
  --ornament-border-width: 2px;

  --blockquote-border-colour: var(--ornament-border-colour);
  --blockquote-border-width: 4px;

  /* -26% puts this at the same luminosity as ornament-colour */
  --pre-border-colour: color(var(--anchor-colour) l(-26%));
  --pre-border-width: var(--blockquote-border-width);
}
