body > footer {
  position: relative;
  margin: 5rem auto 0;
  padding-top: 1.6em;
  padding-bottom: 0.6em;
  max-width: var(--body-max-width);
  font-family: var(--sans-serif);

  & p {
    margin: 0;
  }

  & p + p {
    margin-top: 0.5em;
  }

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--ornament-border-width);
    background: var(--ornament-border-colour);
    content: '';
  }

  &::after {
    /*@extend line-square-rotated;*/
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: var(--ornament-size);
    height: var(--ornament-size);
    border-radius: 2px;
    box-shadow:
      var(--ornament-space-titled) -var(--ornament-space-titled) 0 0 #fff,
      var(--ornament-space-titled) -var(--ornament-space-titled) 0 var(--ornament-border-width) var(--ornament-border-colour),
      -var(--ornament-space-titled) var(--ornament-space-titled) 0 0 #fff,
      -var(--ornament-space-titled) var(--ornament-space-titled) 0 var(--ornament-border-width) var(--ornament-border-colour),
      0 0 0 var(--ornament-border-width) var(--ornament-border-colour),
      var(--ornament-space-titled) -var(--ornament-space-titled) 0 10px #fff,
      -var(--ornament-space-titled) var(--ornament-space-titled) 0 10px #fff,
      0 0 0 10px #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
    content: '';
  }
}

@media (min-width: 50em) {
  body > footer {
    /* autoprefixer: off */
    display: flex;
    justify-content: space-between;

    & p + p {
      margin-top: 0;
    }
  }
}
