main {
  padding-top: 4rem;
  background: #fff;

  &:focus {
    outline: none;
  }

  [data-whatinput="keyboard"] &:focus {
    animation: main 2s;
  }
}

body > footer {
  position: relative;
  margin: 5rem auto 0;
  padding-top: 1rem;
  max-width: 40em;
  font-family: var(--sans-serif);

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background: #aaa;
    content: '';
  }

  &::after {
    /*@extend line-square-rotated;*/
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: .5em;
    height: .5em;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0 0 0 10px #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #fff;
    content: '';
  }
}
