main {
  margin: 0 auto;
  padding-top: 4rem;
  max-width: var(--body-max-width);
  background: #fff;

  &:focus {
    outline: none;
  }

  [data-whatinput="keyboard"] &:focus {
    animation: main 2s;
  }
}
