---
layout: default
---

<article>
  <header>
    <h2>{{ page.title }}</h2>
    <time datetime="{{ page.date | date_to_xmlschema }}"><span>Published on </span>
      {% assign d = page.date | date: "%-d" %}
      {% case d %}
        {% when "1" or "21" or "31" %}{{ d }}st
        {% when "2" or "22" %}{{ d }}nd
        {% when "3" or "23" %}{{ d }}rd
        {% else %}{{ d }}th
      {% endcase %}
      {{ page.date | date: "of %B, %Y" }}
    </time>
  </header>
  {{ content }}
  <footer>
    <p>Tags: {{page.tags}}</p>
  </footer>
</article>
