article {
  position: relative;
  margin: 0 auto;
  max-width: var(--body-max-width);

  & :--block-text {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  & * + *:not(li) {
    margin-top: 1.6em;
  }
}

article header + * {
  margin-top: 1.6em;
}

article > footer {
  position: relative;

  & p {
    margin: 0;
    text-indent: 0;
  }

  & p:nth-last-child(2) {
    display: inline;
  }

  & ul {
    display: inline;
    padding: 0;
    list-style: none;
  }

  & li {
    display: inline-block;
  }

  & li:not(:last-child)::after {
    content: ', ';
  }
}

article + article {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: var(--ornament-border-width) solid var(--ornament-border-colour);

  &::before {
    /*@extend line-circle;*/
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: var(--ornament-size);
    height: var(--ornament-size);
    border-radius: 100%;
    box-shadow:
      var(--ornament-space) 0 0 0 #fff,
      var(--ornament-space) 0 0 var(--ornament-border-width) var(--ornament-border-colour),
      -var(--ornament-space) 0 0 0 #fff,
      -var(--ornament-space) 0 0 var(--ornament-border-width) var(--ornament-border-colour),
      0 0 0 var(--ornament-border-width) var(--ornament-border-colour),
      var(--ornament-space) 0 0 10px #fff,
      -var(--ornament-space) 0 0 10px #fff,
      0 0 0 10px #fff;
    transform: translate(-50%, -50%);
    background: #fff;
    content: '';
  }
}

@media (--medium-viewport) {
  article header {
    /* autoprefixer: off */
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    & time {
      position: relative;
      margin-top: 0;
      padding-left: 1.6em;
      text-align: right;
    }

    & time span {
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }
  }
}
