:--heading {
  margin-bottom: 0;
  font-family: var(--sans-serif);
}

:--heading a {
  color: inherit;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

#home h1 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

p {
  line-height: var(--line-height);

  article & {
    text-indent: 2rem;
  }

  &:first-child::first-letter,
  & :not(p) + &:first-letter {
    font-size: 1.2em;
  }
}

blockquote,
pre {
  padding-left: calc(2rem - var(--blockquote-border-width));
  border-left: var(--blockquote-border-width) solid var(--blockquote-border-colour);
}

blockquote {
  margin-right: 0;
  margin-left: 0;

  & footer {
    margin-top: 0.8em;
    text-align: right;
  }
}

pre {
  max-width: 100%;
  border-left-color: var(--pre-border-colour);
  overflow-x: auto;
}

main ul,
main ol{
  padding-left: 2rem;
  line-height: var(--line-height);
}

footer ul,
footer ol {
  padding-left: 0;
}

@media (--medium-viewport) {
  blockquote,
  pre {
    margin-left: 2rem;
    padding-left: 2rem;
  }
}
