:--heading {
  margin-bottom: 0;
  font-family: var(--sans-serif);
}

:--heading a {
  color: inherit;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

#home h1 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*#home h2 {
  font-size: 1.5em;
}*/

p {
  line-height: var(--line-height);

  article & {
    text-indent: 1.6em;
  }

  &:first-child::first-letter,
  & :not(p) + &:first-letter {
    font-size: 1.2em;
  }
}

blockquote {
  margin-left: 0;
  padding-left: calc(1.6em - var(--blockquote-border-width));
  border-left: var(--blockquote-border-width) solid var(--blockquote-border-colour);

  & footer {
    margin-top: 0.8em;
    text-align: right;
  }
}

main ul,
main ol{
  line-height: var(--line-height);
}

main :not(footer) > ul {
  padding-left: 1.6em;
  /*list-style: none;*/

  & ul {
    padding-left: 1.6em;
  }

  & li {
    position: relative;
  }

  & li::before {
    display: block;
    position: absolute;
    top: calc((var(--line-height)em / 2) - 0.2em);
    left: -1em;
    width: 0.4em;
    height: 0.4em;
    border: 1px solid var(--body-text-colour);
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    /*content: '•';*/
  }

  & li li::before {
    border-radius: 2px;
  }

  & li li li::before {
    transform: rotate(45deg);
  }
}

main :not(footer) > ol {
  padding-left: 1.6em;

  & ol {
    padding-left: 1.6em;
  }
}

@media (--medium-viewport) {
  blockquote {
    margin-left: 1.6em;
    padding-left: 1.6em;
  }
}
