body > nav {
  margin: 5rem auto 0;
  max-width: var(--body-max-width);

  & a {
    /* NOTE: Not sure about colour */
    /*color: color(var(--anchor-colour) l(-30%));*/
    color: var(--body-text-colour);
    font-size: 1.5em;
  }

  & :nth-child(2) {
    float: right;
  }

  & :nth-child(1)::before {
    display: inline-block;
    padding-right: 0.4em;
    content: '\2190';
  }

  & :nth-child(2)::after {
    display: inline-block;
    padding-left: 0.4em;
    content: '\2192';
  }

  span {
    display: none;
  }

  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@media (--medium-viewport) {
  body > nav span {
    display: inline;
  }
}
